

form {
    width: 30%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background: aliceblue;    ;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.125);
}

.container_ {
    margin: 0 15px;
}

a {
    margin: 10px;
}

h5 {
    margin: 10px;
    font-size: 20px;
    color: blueviolet;
}

h2,
p {
    margin: 0 10px;
    color: brown;
}

span {
    margin: 0 10px;
    color: blue;
}

.card-container {
    margin-bottom: 15px !important;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 991.98px) {
    form {
        width: 70%;
    }
}

@media (max-width: 767.98px) {
    form {
        width: 90%;
    }
}
