<div class="main">
    <div style="display: flex;justify-content: center;">
        <button style="margin: 20px;" type="button" class="btn btn-danger" (click)="toggleForm()">
            {{ show ? 'Hide Form' : 'Add new Restaurant' }}
        </button>
    </div>
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()" class="form" *ngIf="show" #scrollTarget>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="place" class="form-label">Place:</label>
            <input type="text" id="place" formControlName="place" class="form-control">
        </div>

        <div class="mb-3">
            <label for="info" class="form-label">Information:</label>
            <input type="text" id="info" formControlName="info" class="form-control">
        </div>

        <!-- Example of Bootstrap file input -->
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Upload Image:</label>
            <input type="file" id="image" formControlName="image" class="form-control">
        </div> -->

        <button type="submit" class="btn btn-warning" *ngIf="isNewRestaurant">Add New Restaurant</button>
        <button type="submit" class="btn btn-warning" *ngIf="!isNewRestaurant">Update Restaurant</button>
    </form>




    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let res of restaurant; let i = index">
                <div class="card" style="background: bisque;">
                    <img style="height: 250px;" [src]="res.image" class="card-img-top" alt="...">
                    <div>
                        <h5>{{ res.name }}</h5>
                        <span>{{ res.place }}</span>
                        <p>{{ res.info }}</p>
                        <a (click)="delete(i)" class="btn btn-info">Delete</a>
                        <a (click)="onClickRestaurant(res , i)" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
